[Unit]
Description=HPage UWSGI container
Requires=beusp-network.service
After=beusp-network.service

[Container]
Image=zynthasius/beusproxy:alpine
Network=beusp
HostName=api
Volume=/root/hpage/shared:/hpage/shared
EnvironmentFile=/root/hpage/env
