[Unit]
Description=HPage Nginx container
Requires=beusp-network.service hpage_api.service
After=beusp-network.service hpage_api.service

[Container]
Image=zynthasius/beusp:alpine
Network=beusp
HostName=web
PublishPort=8080:80