[Unit]
Description=HPage Bot container
Requires=beusp-network.service hpage_web.service
After=beusp-network.service hpage_web.service

[Container]
Image=zynthasius/beusproxy:bot-alpine
Network=beusp
HostName=bot
Volume=/root/hpage/shared:/hpage/shared
EnvironmentFile=/root/hpage/env
