aiohttp==3.13.3
aiosqlite==0.22.1
beautifulsoup4==4.14.3
flasgger==0.9.7.1
Flask==3.1.2
flask-cors==6.0.2
Flask-RESTful==0.3.10
Jinja2==3.1.6
jsondiff==2.2.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
schedule==1.2.2