<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your email</title>
</head>

<body
    style="display: flex; margin: 0px; font-family: sans-serif; align-items: center; justify-content: center; height: 100dvh;">
    <div style="display: flex; flex-direction: column; width: 600px; border: solid 1px lightgray;">
        <div style="background-color: #149392; padding: 40px; text-align: center; color: white; font-size: 24px;">
            <img src="http://localhost:5173/src/assets/beutmsbot_nobg.svg" width="200px" />
            <h2>
                BeuTMSBot
            </h2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 10px; padding: 40px;">
            <img src="http://localhost:5173/src/assets/fat_cat.gif" width="100%" />
            <h1 style="color: #db2424;">
                Something went wrong.
                </h2>
                <p style="font-size: 20px;">
                    - Link is expired<br />
                    - Link is broken<br />
                    - Bot is offline<br />
                    - Internal error occured<br />
                </p>
                <p style="text-align: center;">
                    Try verifying again later.<br />
                    Contact the website owner, if you can't subscribe.
                </p>
        </div>
        <div style="background-color: #111111; padding: 40px; color: white; text-align: center;">
            Copyright &copy; 2025 | <a style="text-decoration: none; color: inherit"
                href="https://github.com/Zynthasius39/beusp">BEUSP</a>
        </div>
    </div>
</body>

</html>